@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  padding: 50px 150px;
  width: 100%;
  height: 100vh;
  color: #7582CA;
  background-color: #EBEDF8;
  line-height: 2rem;
  font-family: 'Roboto', sans-serif;
}

section::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  width: 39em;
  height: 39em;
  background-color: rgba(172, 179, 221, 0.1);
  border-radius: 100% 0 0 0;
}

section::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 250px;
  background: linear-gradient(to right, rgba(172, 179, 221, 0.1), #EBEDF8);
  width: 300px;
  height: 300px;
  transform: skew(40deg);
}

section .container {
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
}

section .container .hero {
  max-width: 550px;
}

section .container .hero__intro {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

section .container .hero__title {
  color: #1A237E;
  font-size: 3rem;
  margin-top: 12px;
  line-height: 1.2em;
  font-weight: 400;
}

section .container .hero__title span {
  color: #314EFE;
}

section .container .hero__description {
  margin: 1em 1.5em 0 0;
}

section .container .hero__btn {
  background-color: #F7AB04;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 20px;
  margin: 35px 0;
}

section .container .cards {
  max-width: 400px;
}

section .container .cards .cards__box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

section .container .cards .cards__box__top {
  position: relative;
  top: -4rem;
}

section .container .cards .cards__box__top::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 180px;
  right: -150px;
  border-top: 300px solid rgba(172, 179, 221, 0.1);
  border-left: 300px solid transparent;
}

section .container .cards .cards__box .card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #c9c9c6;
  margin-top: 60px;
  padding: 3em;
  min-height: 200px;
  width: 100%;
  position: relative;
  z-index: 1;
}

section .container .cards .cards__box .card__icon .icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
}

section .container .cards .cards__box .card__icon .icon__one {
  fill: #3288E5;
  background: #BBDEFB;
}

section .container .cards .cards__box .card__icon .icon__two {
  fill: #F7A826;
  background: #FEF9C4;
}

section .container .cards .cards__box .card__icon .icon__three {
  fill: #43A048;
  background: #C8E6C9;
}

section .container .cards .cards__box .card__icon .icon__four {
  fill: #8D25AA;
  background: #E1BEE7;
}

section .container .cards .cards__box .card__title {
  color: #1A237E;
  margin: 15px 0;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .section {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  .section::after, .section::before {
    content: none;
  }
  .section .container .cards .cards__box__top::after {
    content: none;
  }
}
