$primary: #7582CA;
$primary-light: #314EFE;
$primary-dark: #1A237E;
$secondary: #E9EAF7;
$body-bg: #EBEDF8;
$body-bg-light: #FFFFFF;
$btn: #F7AB04;
$border-color: #c9c9c6;
$border-radius: 5px;
$color-shape: #acb3dd;